@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.font-roboto {
  font-family: var(--font-roboto), system-ui, sans-serif;
}

.font-roboto-mono {
  font-family: var(--font-roboto-mono), monospace;
}

.dark-blue-gradient {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom left,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom left,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav-link {
  transition: font-weight 0.15s ease;
}
